@import '../../styles/variables.scss';

.cart {
  position: fixed;
  top: 95px;
  right: 115px;
  width: 380px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: $color-black;
  background-color: $color-white;
  font-weight: bold;
  text-align: center;
  z-index: 1000000000;

  .cartListTitle {
    padding: 15px 15px 20px 15px;
    font-size: 23px;
  }

  .cartDetail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    border-top: 1px solid #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    font-size: 17px;
    text-align: center;

    * {
      width: 50px;
    }
  }

  .itemList {
    overflow-y: scroll;
    height: 313px;

    .itemDetail {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px 0px 20px 15px;
      text-align: center;
      font-size: 17px;

      &:hover {
        background-color: #d5d5d5;
        border-radius: 3px;
      }

      .eggItemImage {
        width: 50px;
      }
      * {
        width: 50px;
      }
    }
  }
}
