@import '../../styles/variables.scss';

.cart {
  position: fixed;
  top: 95px;
  right: 115px;
  width: 380px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: $color-black;
  background-color: $color-white;
  font-weight: bold;
  text-align: center;
  z-index: 1000;

  .cartListTitle {
    padding: 15px 15px 20px 15px;
    font-size: 23px;
  }

  .cartListDetail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    border-top: $border-blackbrown1;
    border-bottom: $border-blackbrown1;
    font-size: 17px;
    text-align: center;

    * {
      width: 50px;
    }
  }

  .cartItems {
    overflow-y: scroll;
    max-height: 313px;
  }
}
