@import '../../styles/variables.scss';

.login {
  display: flex;
  flex-direction: column;
  margin: 200px 0 0 50px;

  .loginTop {
    margin-bottom: 50px;
    width: 1000px;

    .loginTitle {
      margin-bottom: 20px;
      font-size: 70px;
    }
  }

  .loginMiddle {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .loginInputMessage {
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

    .forgotPassword {
      margin-top: 25px;
      font-size: 17px;
      letter-spacing: 1px;
    }
  }

  .loginBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .join {
      margin-top: 25px;
      letter-spacing: 0.5px;
    }
  }

  .line {
    background-color: #adc088;
  }
}
