@import "../../styles/variables.scss";

.main {
  .mainPage {
    position: relative;
    top: 100px;

    .textWrapper {
      @include flexCenter;
      height: 385px;
      background-color: $color-black;

      .text {
        color: $color-white;
        text-align: center;
        font-size: 100px;
        letter-spacing: 5px;
      }
    }
  }
}