@import "../../styles/variables.scss";

.listChicken {
  position: relative;
  top: 100px;

  .classificationWrapper {
    margin: 20px 0px;
    height: 80px;
    display: flex;
    align-items: center;

    .classification {
      padding-left: 50px;

      * {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }
}