@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;500;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Antonio', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: none;
  background-color: transparent;
  outline: none;

  &:focus {
    outline: none;
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}