@import "../../styles/variables.scss";

.item {
  display: inline-block;

  &:hover {
    cursor: pointer;
  }

  .slide {
    display: inline-block;
    height: 400px;
    width: 400px;
    margin: 10px 5px;
  }
}