@import "../../styles/variables.scss";


.slideShowItem {
  padding: 40px;
  font-size: 30px;

  .categoryName {
    padding-left: 20px;
    font-weight: $weight-bold;
  }

  .slideImageWrapper {
    margin-top: 20px;
    border: 5px solid #56534C;
    border-radius: 5px;

    .imageList {
      display: inline-block;
    }
  }
}