@import "../../styles/variables.scss";


.slideShowItem {
  padding: 20px;
  font-size: 30px;

  .categoryName {
    padding-left: 20px;
    font-weight: $weight-bold;
  }

  .slidingWrapper {
    height: 300px;
    margin-top: 20px;
    border: $border-darkgray1;
    border-radius: 5px;
  }
}