@import "../../styles/variables.scss";


.slideShowItem {
  padding: 40px;
  font-size: 30px;

  .categoryName {
    padding-left: 20px;
    font-weight: $weight-bold;
  }

  .slideshow {
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #56534C;
    border-radius: 5px;
    margin-top: 20px;

    max-width: 1000px;


    .slideshowSlider {
      white-space: nowrap;
      transition: ease 1000ms;
    }
  }
}