@import "../../styles/variables.scss";

.itemsList {
  margin: 60px 0px;
  padding: 10px 150px;

  .categoryName {
    font-size: 30px;
    font-weight: 700;
  }

  .categoryPrice {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
  }

  .imageWrapper {
    margin-top: 20px;
  }
}