@import '../../styles/variables.scss';

.findPassword {
  display: flex;
  flex-direction: column;
  margin: 200px 0 0 50px;

  .findPasswordTop {
    margin-bottom: 50px;
    width: 1000px;

    .findPasswordTitle {
      margin-bottom: 20px;
      font-size: 70px;
    }
  }

  .findPasswordMiddle {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .findPasswordInputMassage {
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.5px;
    }

    .resetPassword {
      margin-top: 25px;
      margin-left: 5px;
      font-size: 17px;
      letter-spacing: 1px;
    }
  }

  .findPasswordBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
