@import '../../styles/variables.scss';

.myPageCartItem {
  @include flexSpaceBetweenCenter;
  width: 1000px;
  padding: 20px 15px;
  border-top: $border-brightgray1;
  border-bottom: $border-brightgray1;

  .myPageCartItemInfo {
    @include flexAlignCenter;
    width: 300px;

    .myPageCartItemPhoto {
      width: 100px;
      margin-right: 40px;
    }

    .itemName {
      display: block;
      margin: 10px;
    }

    .itemInfoKoreanName {
      @extend .itemName;
      font-family: $korean-font;
      font-weight: bold;
      font-size: 18px;
    }

    .itemInfoEnglishName {
      @extend .itemName;
      letter-spacing: 1.5px;
      color: rgb(58, 58, 58);
      font-size: $font-small;
    }
  }

  .myPageItemCount {
    @include flexAlignCenter;

    .countButton {
      display: block;
      width: 20px;
      height: 20px;
      margin: 2px 0 0 10px;
      border: $border-brightgray1;
      color: rgb(128, 128, 128);
    }
  }
}

.noMyPageCartItem {
  padding: 30px 100px;
  height: 80px;
}

